# Functions

In [1]:
# Type-1 No Args & No Return Type

In [2]:
def func1():
    print("Welcome to Day3 AI Class")

In [3]:
func1()

Welcome to Day3 AI Class

In [4]:
def func2():
    var1 = int(input("Enter the value of var1:"))
    var2 = int(input("Enter the value of var2:"))
    
    var3 = var1 + var2
    print("Addition:",var3)

In [5]:
func2()

Enter the value of var1: 45
Enter the value of var2: 78

Addition: 123

In [6]:
# Type-2 With Args & No Return Type

In [7]:
def func3(var1, var2):
    var3 = pow(var1,var2)
    print("Pow:",var3)

In [8]:
func3(2,20)

Pow: 1048576

In [9]:
# Type-3 No Args & with Return Type

In [17]:
def func4():
    var1 = int(input("Enter the value of var1:"))
    var2 = int(input("Enter the value of var2:"))
    
    var3 = var1 * var2
    var4 = var1/var2
    return (var3,var4)

In [18]:
var4 = func4()
print("Multiply:",var4)

Enter the value of var1: 12
Enter the value of var2: 6

Multiply: (72, 2.0)

In [16]:
print("Multiply:",func4())

Enter the value of var1: 12
Enter the value of var2: 6

Multiply: (72, 2.0)

In [19]:
# Type-4 With Args & with Return Type

In [20]:
def func5(var1,var2):
    var3 = var1/var2
    return var3

In [21]:
print("Division:",func5(22,7))

Division: 3.142857142857143

In [22]:
def func5(var1,var2):
    return var1/var2

In [23]:
print("Division:",func5(22,7))

Division: 3.142857142857143

In [24]:
print()

In [25]:
def tabel(args):
    
# Type-2 With Args & No Return Type

SyntaxError: unexpected EOF while parsing (<ipython-input-25-f99467269a32>, line 3)

In [26]:
def table (var1):
    for i in range(1,11):
        var2=var1*i
        print(var2)

In [27]:
table(12)

12
24
36
48
60
72
84
96
108
120

In [32]:
def table(var1):
    for i in range(1,11):
        var2=var1*i
        print(var2)

In [33]:
table(12)

12
24
36
48
60
72
84
96
108
120

In [34]:
def table(t):
   # if t==0:
       # break
    for i in range(1,11):
        print(f"{t}*{i}={i*t}")
t=int(input("Enter the number"))
table(t)

Enter the number 12

12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120

# List

In [36]:
var1 = [1,2,3,4,5,6,7,8,9,10]

In [37]:
var1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
name = ["Ravi","Nitin","Deepak","Himanshu","Divya"]

In [39]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [40]:
mix = ["Data Scince","AI","Machine Learning",35.469,True,False,None, 13,45]

In [41]:
mix

['Data Scince', 'AI', 'Machine Learning', 35.469, True, False, None, 13, 45]

In [42]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [43]:
name[0]

'Ravi'

In [44]:
name[3]

'Himanshu'

In [47]:
len('vishwajeet')
len(name)-1

4

In [48]:
name[len(name)-1]

'Divya'

In [49]:
name[-1]

'Divya'

In [50]:
name[-2]

'Himanshu'

In [51]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [52]:
name[:]

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [53]:
name[1:4]

['Nitin', 'Deepak', 'Himanshu']

In [54]:
name[:4]

['Ravi', 'Nitin', 'Deepak', 'Himanshu']

In [55]:
name[:-1]

['Ravi', 'Nitin', 'Deepak', 'Himanshu']

In [56]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [57]:
name[1:-1]

['Nitin', 'Deepak', 'Himanshu']

In [58]:
l1 = [['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya'],[10,20,30,40,50],[2.5,4.5,6.6,9.3,8.8]]

In [59]:
l1

[['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya'],
 [10, 20, 30, 40, 50],
 [2.5, 4.5, 6.6, 9.3, 8.8]]

In [60]:
len(l1)

3

In [64]:
l1[0][0:3]

['Ravi', 'Nitin', 'Deepak']

In [65]:
l1[1][1]

20

In [66]:
l1[-1][-1]

8.8

In [67]:
l1[2][-1]

8.8

In [68]:
spam = [10,20,30,40,50,60]

In [69]:
len(spam)

6

In [70]:
min(spam)

10

In [71]:
max(spam)

60

In [72]:
sum(spam)

210

In [73]:
sum(spam)/len(spam)

35.0

## index(), Append(), Insert(), remove(), sort(), del

In [74]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya']

In [75]:
name.index("Deepak")

2

In [76]:
name.index("Divya")

4

In [77]:
name.append("Mohan")

In [78]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya', 'Mohan']

In [79]:
name.append("Mohan")

In [80]:
name

['Ravi', 'Nitin', 'Deepak', 'Himanshu', 'Divya', 'Mohan', 'Mohan']

In [81]:
name.insert(2,"Vishwajeet")

In [82]:
name

['Ravi',
 'Nitin',
 'Vishwajeet',
 'Deepak',
 'Himanshu',
 'Divya',
 'Mohan',
 'Mohan']

In [83]:
name[2] = "Yash"

In [84]:
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu', 'Divya', 'Mohan', 'Mohan']

In [85]:
name.remove('Mohan')

In [86]:
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu', 'Divya', 'Mohan']

In [87]:
del name[-1]

In [88]:
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu', 'Divya']

In [89]:
name.pop(-1)

'Divya'

In [90]:
name

['Ravi', 'Nitin', 'Yash', 'Deepak', 'Himanshu']

In [91]:
name.sort()

In [92]:
name

['Deepak', 'Himanshu', 'Nitin', 'Ravi', 'Yash']

In [93]:
name.sort(reverse=True)

In [94]:
name

['Yash', 'Ravi', 'Nitin', 'Himanshu', 'Deepak']

# Exercise

In [97]:
person = []

while True:
    print("Persone Number:",len(person)+1)
    name = input()
    if name == "quit":
        break
    person.append(name)

for name in person:
    print(name)

Persone Number: 1

 Vishwajeet

Persone Number: 2

 Deepak

Persone Number: 3

 Himanshu

Persone Number: 4

 Yash

Persone Number: 5

 quit

Vishwajeet
Deepak
Himanshu
Yash

In [98]:
Tabels = []

while True:
    print("Number:",len(Tabels)+1)
    num = int(input())
    if num == 0:
        break
    Tabels.append(num)
    
print("Number inside the list:")
for n in Tabels:
    for num1 in range(1,11):
        num2 = num1 * n
        
        print('{} * {} = {}'.format(n,num1,num2))
    print("\n")

Number: 1

 12

Number: 2

 13

Number: 3

 14

Number: 4

 15

Number: 5

 0

Number inside the list:
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120


13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130


14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140


15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [ ]:
grid = [['.', '.', '.', '.', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['O', 'O', 'O', 'O', 'O', '.'],
['.', 'O', 'O', 'O', 'O', 'O'],
['O', 'O', 'O', 'O', 'O', '.'],
['O', 'O', 'O', 'O', '.', '.'],
['.', 'O', 'O', '.', '.', '.'],
['.', '.', '.', '.', '.', '.']]



output-

..OO.OO..
.OOOOOOO.
.OOOOOOO.
..OOOOO..
...OOO...
....O....