# List Comprihensions

In [1]:
mystr = "Vishwajeet"

In [3]:
mystr[0:3]

'Vis'

In [7]:
mylist = []

for letter in mystr:
    mylist.append(letter)
print(mylist)

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [5]:
mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [8]:
mylist = [letter for letter in mystr]

In [9]:
mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [10]:
lst = [x for x in range(0,11)]

In [11]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
lst = [x*x for x in range(0,11)]

In [13]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
lst = [x for x in range(0,11) if x%2==0]

In [15]:
lst

[0, 2, 4, 6, 8, 10]

In [16]:
c = [0,10,20.3,38.5,33.5]

f = []

for temp in c:
    f.append((9/5)*temp+32)

In [17]:
f

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [18]:
f = [((9/5)*temp+32)for temp in c]

In [19]:
f

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [20]:
l1 = [x if x%2==0 else "odd" for x in range(0,11)]

In [21]:
l1

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [22]:
mylist = []

for x in [2,4,6]:
    for y in [1,20,200]:
        mylist.append(x*y)

In [23]:
mylist

[2, 40, 400, 4, 80, 800, 6, 120, 1200]

In [24]:
mylist = [x*y for x in [2,4,6] for y in [1,20,200]]

In [25]:
mylist

[2, 40, 400, 4, 80, 800, 6, 120, 1200]

# Tuple

In [26]:
t1 = (10,20,30,40)

In [27]:
t1

(10, 20, 30, 40)

In [28]:
t1[0]

10

In [29]:
t1[0] = 110

TypeError: 'tuple' object does not support item assignment

In [30]:
len(t1)

4

In [31]:
sum(t1)

100

In [32]:
min(t1)

10

In [33]:
max(t1)

40

In [34]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

# set

In [35]:
l1 = [1,1,1,1,2,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5,6,6,6,7,7,7,7]

In [36]:
x = set(l1)

In [37]:
x

{1, 2, 3, 4, 5, 6, 7}

# Dictionaries

In [39]:
mydict = {"key1":"value1","key2":"value2","key3":"value3"}

In [40]:
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [41]:
mydict["key1"]

'value1'

In [42]:
mydict["key2"]

'value2'

In [43]:
l1 = [10,20,30,40,50]

In [45]:
l2 = [50,40,20,30,10]

In [46]:
l1 == l2

False

In [47]:
mydict1 = {"key1":"value1","key2":"value2","key3":"value3"}

In [48]:
mydict2 = {"key2":"value2","key3":"value3","key1":"value1"}

In [49]:
mydict1 == mydict2

True

In [50]:
mydict = {"key1":54535413543, "key2":[10,20,30,40,50], "key3":["ml","dl","ds","ai"]}

In [51]:
mydict

{'key1': 54535413543,
 'key2': [10, 20, 30, 40, 50],
 'key3': ['ml', 'dl', 'ds', 'ai']}

In [53]:
mydict["key2"][1:-1]

[20, 30, 40]

In [55]:
mydict.items()

dict_items([('key1', 54535413543), ('key2', [10, 20, 30, 40, 50]), ('key3', ['ml', 'dl', 'ds', 'ai'])])

In [56]:
mydict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [57]:
mydict.values()

dict_values([54535413543, [10, 20, 30, 40, 50], ['ml', 'dl', 'ds', 'ai']])

# Exercise

In [61]:
birthday = {"Vishwajeet":"Aug1","Ravi":"Aug2","Deepak":"Aug3","Mohan":"Aug4"}

while True:
    print("PLease enter the name:")
    name = input()
    if name == "quit":
        break
    if name in birthday:
        print(birthday[name], 'is the birthday of ', name)
        
    else:
        print("Person name is not availabel.")
        print("Do you wish to enter the birthday??")
        bday = input()
        
        birthday[name] = bday
        print('Database is update!!!.')

PLease enter the name:

 Vishwajeet

Aug1 is the birthday of  Vishwajeet
PLease enter the name:

 Deepak

Aug3 is the birthday of  Deepak
PLease enter the name:

 Nitin

Person name is not availabel.
Do you wish to enter the birthday??

 Aug10

Database is update!!!.
PLease enter the name:

 Nitin

Aug10 is the birthday of  Nitin
PLease enter the name:

 quit

In [62]:
message = 'It was a bright cold day in April, ' \
          'and the clocks were striking thirteen.'

In [67]:
mes="It was a Great Time"
dict1={}
for i in message:
    if i not in dict1:
        dict1[i]=1
    else:
        dict1[i]=dict1[i]+1
print(dict1)

{'I': 1, 't': 6, ' ': 13, 'w': 2, 'a': 4, 's': 3, 'b': 1, 'r': 5, 'i': 6, 'g': 2, 'h': 3, 'c': 3, 'o': 2, 'l': 3, 'd': 3, 'y': 1, 'n': 4, 'A': 1, 'p': 1, ',': 1, 'e': 5, 'k': 2, '.': 1}

In [65]:
l1 = list(range(0,11))

In [66]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercise-2

In [ ]:
theBorad = {'top-L':' ', 'top-M':' ', 'top-R':' ',
            'mid-L':' ', 'mid-M':' ', 'mid-R':' ',
            'low-L':' ', 'low-M':' ', 'low-R':' '}

def printBoard(board):
    print(board['top-L'] + '|' + board['top-M'] + '|' + board['top-R'])
    print('-+-+-')
    print(board['mid-L'] + '|' + board['mid-M'] + '|' + board['mid-R'])
    print('-+-+-')
    print(board['low-L'] + '|' + board['low-M'] + '|' + board['low-R'])

turn = 'X'

for i in range(9):
    printBoard(theBorad)
    print('Turn for ' + turn + ' your move for which place?')
    move = input()
    theBorad[move] = turn
    if turn == 'X':
        turn = 'O'
    else:
        turn = 'X'
printBoard(theBorad)

 | |
-+-+-
 | |
-+-+-
 | |
Turn for X your move for which place?

 mid-M

 | |
-+-+-
 |X|
-+-+-
 | |
Turn for O your move for which place?

 top-L

O| |
-+-+-
 |X|
-+-+-
 | |
Turn for X your move for which place?