# File I/O

In [1]:
file = open("sample.txt", 'r')

for line in file:
    print(line)
    
file.close()

'Twas brillig, and the slithy toves

Did gyre and gimble in the wabe;

All mimsy were the borogoves,

And the mome raths outgrabe.



"Beware the Jabberwock, my son!

The jaws that bite, the claws that catch!

Beware the Jubjub bird, and shun

The frumious Bandersnatch!"



He took his vorpal sword in hand:

Long time the manxome foe he sought,

So rested he by the Tumtum tree,

And stood a while in thought.



And, as in uffish thought he stood,

The Jabberwock, with eyes of flame,

Came whiffling through the tulgey wood,

And burbled as it came!



One two! One two! And through and through

The vorpal blade went snicker-snack!

He left it dead, and with its head

He went galumphing back.



"And hast thou slain the Jabberwock?

Come to my arms, my beamish boy!"

"Oh frabjous day! Callooh! Callay!"

He chortled in his joy.



'Twas brillig, and the slithy toves

Did gyre and gimble in the wabe:

All mimsy were the borogoves,

And the mome raths outgrabe.

In [5]:
file = open("sample.txt", 'r')

for line in file:
    if "jabberwock" in line.lower():
        print(line, end='')
    
file.close()

"Beware the Jabberwock, my son!
The Jabberwock, with eyes of flame,
"And hast thou slain the Jabberwock?

In [4]:
l1 = [1,2,3,4,5,6]

for v in l1:
    print(v, end = '')

123456

In [6]:
with open('sample.txt', 'r') as file:
    for line in file:
        if "jabberwock" in line.lower():
            print(line, end="")

"Beware the Jabberwock, my son!
The Jabberwock, with eyes of flame,
"And hast thou slain the Jabberwock?

In [10]:
with open('sample.txt', 'r') as file:
    line = file.readline()

    while line:
        print(line, end ='')
        line = file.readline()

'Twas brillig, and the slithy toves
Did gyre and gimble in the wabe;
All mimsy were the borogoves,
And the mome raths outgrabe.

"Beware the Jabberwock, my son!
The jaws that bite, the claws that catch!
Beware the Jubjub bird, and shun
The frumious Bandersnatch!"

He took his vorpal sword in hand:
Long time the manxome foe he sought,
So rested he by the Tumtum tree,
And stood a while in thought.

And, as in uffish thought he stood,
The Jabberwock, with eyes of flame,
Came whiffling through the tulgey wood,
And burbled as it came!

One two! One two! And through and through
The vorpal blade went snicker-snack!
He left it dead, and with its head
He went galumphing back.

"And hast thou slain the Jabberwock?
Come to my arms, my beamish boy!"
"Oh frabjous day! Callooh! Callay!"
He chortled in his joy.

'Twas brillig, and the slithy toves
Did gyre and gimble in the wabe:
All mimsy were the borogoves,
And the mome raths outgrabe.

# Writing data

In [24]:
cities = ['Meerut', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai']

with open('cities.txt', 'w') as city_file:
    for city in cities:
        print(city, file=city_file)

In [25]:
l1 = []
with open('cities.txt','r') as city_file:
    for city in city_file:
        l1.append(city.strip('\n'))
print(l1)
for city in l1:
    print(city)

['Meerut', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai']
Meerut
Delhi
Hyderabad
Pune
Mumbai

In [14]:
print("Meerut".strip('M'))

eerut

# Append Mode

In [18]:
c = ["Agra","Patna","Mathura"]

with open('cities.txt','a') as cities:
    for city in c:
        print(f"{city}", file=cities)

In [20]:
l1 = []
with open('cities.txt','r') as city_file:
    for city in city_file:
        l1.append(city.strip('\n'))
print(l1)
for city in l1:
    print(city)

['Meerut', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Agra', 'Patna', 'Mathura']
Meerut
Delhi
Hyderabad
Pune
Mumbai
Agra
Patna
Mathura

In [27]:
with open('cities.txt','a') as tb:
    for t in range(2,16):
        for i in range(1,11):
            print(f"{t}*{i}={t*i}", file= tb)
        print("="*30, file=tb)

In [28]:
# Write
cities = ['Meerut', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai']

with open('city.txt', 'w') as city_file:
    for city in cities:
        print(city, file=city_file)
        
# Append
c = ["Agra","Patna","Mathura"]

with open('city.txt','a') as cities:
    for city in c:
        print(f"{city}", file=cities)


with open('city.txt','a') as tb:
    for t in range(2,16):
        for i in range(1,11):
            print(f"{t}*{i}={t*i}", file= tb)
        print("="*30, file=tb)
        
# Read      
l1 = []
with open('city.txt','r') as city_file:
    for city in city_file:
        l1.append(city.strip('\n'))
print(l1)
for city in l1:
    print(city)

['Meerut', 'Delhi', 'Hyderabad', 'Pune', 'Mumbai', 'Agra', 'Patna', 'Mathura', '2*1=2', '2*2=4', '2*3=6', '2*4=8', '2*5=10', '2*6=12', '2*7=14', '2*8=16', '2*9=18', '2*10=20', '==============================', '3*1=3', '3*2=6', '3*3=9', '3*4=12', '3*5=15', '3*6=18', '3*7=21', '3*8=24', '3*9=27', '3*10=30', '==============================', '4*1=4', '4*2=8', '4*3=12', '4*4=16', '4*5=20', '4*6=24', '4*7=28', '4*8=32', '4*9=36', '4*10=40', '==============================', '5*1=5', '5*2=10', '5*3=15', '5*4=20', '5*5=25', '5*6=30', '5*7=35', '5*8=40', '5*9=45', '5*10=50', '==============================', '6*1=6', '6*2=12', '6*3=18', '6*4=24', '6*5=30', '6*6=36', '6*7=42', '6*8=48', '6*9=54', '6*10=60', '==============================', '7*1=7', '7*2=14', '7*3=21', '7*4=28', '7*5=35', '7*6=42', '7*7=49', '7*8=56', '7*9=63', '7*10=70', '==============================', '8*1=8', '8*2=16', '8*3=24', '8*4=32', '8*5=40', '8*6=48', '8*7=56', '8*8=64', '8*9=72', '8*10=80', '==============================', '9*1=9', '9*2=18', '9*3=27', '9*4=36', '9*5=45', '9*6=54', '9*7=63', '9*8=72', '9*9=81', '9*10=90', '==============================', '10*1=10', '10*2=20', '10*3=30', '10*4=40', '10*5=50', '10*6=60', '10*7=70', '10*8=80', '10*9=90', '10*10=100', '==============================', '11*1=11', '11*2=22', '11*3=33', '11*4=44', '11*5=55', '11*6=66', '11*7=77', '11*8=88', '11*9=99', '11*10=110', '==============================', '12*1=12', '12*2=24', '12*3=36', '12*4=48', '12*5=60', '12*6=72', '12*7=84', '12*8=96', '12*9=108', '12*10=120', '==============================', '13*1=13', '13*2=26', '13*3=39', '13*4=52', '13*5=65', '13*6=78', '13*7=91', '13*8=104', '13*9=117', '13*10=130', '==============================', '14*1=14', '14*2=28', '14*3=42', '14*4=56', '14*5=70', '14*6=84', '14*7=98', '14*8=112', '14*9=126', '14*10=140', '==============================', '15*1=15', '15*2=30', '15*3=45', '15*4=60', '15*5=75', '15*6=90', '15*7=105', '15*8=120', '15*9=135', '15*10=150', '==============================']
Meerut
Delhi
Hyderabad
Pune
Mumbai
Agra
Patna
Mathura
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
==============================
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
==============================
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
==============================
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
==============================
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
==============================
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
==============================
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
==============================
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
==============================
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
==============================
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
==============================
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
==============================
13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130
==============================
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
==============================
15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
==============================

In [29]:
my_file = open('test.txt','w+')

In [30]:
my_file.write("This is line one of my file")

27

In [31]:
my_file.read()

''

In [32]:
my_file.seek(0)

0

In [33]:
my_file.read()

'This is line one of my file'

In [34]:
my_file.read()

''

# Exception Handling

In [36]:
10/0

ZeroDivisionError: division by zero

In [37]:
f = open('cities.txt')
f.write("dfgsdfgdgf")

UnsupportedOperation: not writable

In [38]:
print('Knowledge Shelf)

SyntaxError: EOL while scanning string literal (<ipython-input-38-fc17ee047f54>, line 1)

# try & except

In [39]:
try:
    10/0  
except Exception as e:
    print("This block is having an error:",e)

This block is having an error: division by zero

In [1]:
while True:
    try:
        var1 = int(input("Enter the value of var1:"))
        var2 = int(input("Enter the value of var2:"))
        var3 = var1 * var2
        print("Multiply:",var3)
    
    except:
        print("Invalid input found.")
        print("Please input 'int' values.")
        
    else:
        print("You are out of Infinit loop")
        break

Enter the value of var1: 12
Enter the value of var2: 5

Multiply: 60
You are out of Infinit loop

In [2]:
try:
    f = open('cities.txt')
    print(f.write("vishwajeet"))

except:
    print("This opreation is not valid.")
    try:
        var1 = int(input())
        var3 = var1 * 4
        print(var3)
    except:
        print("This is nested try except block")
    else:
        print("Operation ended.")

This opreation is not valid.

 12

48
Operation ended.

In [4]:
try:
    var1 = int(input("Enter the value:"))
    var3 = var1 ** 10
    print(var3)
except:
    print("Invalid input")
else:
    print("this will execute itself once try will excute.")
finally:
    print("This is my final stage of code.")

Enter the value: 3

59049
this will execute itself once try will excute.
This is my final stage of code.

In [10]:
def func1():
    try:
        var1 = int(input("Enter the value:"))
        print(var1)
    except:
        print("Looks like you have entered a wrong value.")
    finally:
        print("Finally, I executed!!!.")

In [7]:
func1()

Enter the value: 12

Finally, I executed!!!.
12

In [11]:
func1()

Enter the value: vishwajeet

Looks like you have entered a wrong value.
Finally, I executed!!!.